<div class="container">
	<h1>Activities</h1>
		<div class="row">
		    <% @activities.each_slice(3) do |row| %>
		    <% row.each do |activity| %>
		    <div class="col">  
		    	<div class="card">
		    		<%= image_tag activity.photo, class: 'card-img-top' %>
		    		<div>
			    	<h5><%= activity.title %></h5>
			        <p><%= activity.comment %><p>
			        <%= link_to "Hacer", activity_dones_path(activity), class: 'btn btn-success', method: :post %>
			        </div>
			    </div>
		    </div> 
		    <% end %>
		    <div class="w-100" style="margin-top: 15px"></div>
		    <% end %>
		</div>
</div>



